@model CDBBank.Models.RD

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RD</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RdInvMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RdInvMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.n)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.n)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FdMatureAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FdMatureAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FdInMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FdInMoney)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
