@model CDBBank.Models.ElectricityBill

@{
    ViewData["Title"] = "GetBill";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<h1>GetBill</h1>

<div>
    <h4>ElectricityBill</h4>
    <hr />
    <table width="100%">
        <tr>
            <td>

                <dl class="container">


                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BillNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BillNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BillUsers.ElectricityConsumerNum)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BillUsers.ElectricityConsumerNum)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GeneratedBillDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GeneratedBillDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Penalty)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Penalty)₹
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BillAmount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BillAmount)₹
                    </dd>

                </dl>

            </td>

            <td @*width="60%"*@>
                @*  Payment Form  *@
                 <div class="col-md-4">
                     <form asp-action="BillPaid">

                         <div class="form-group">
                             <label class="control-label">Account</label>
                             <input class="form-control" type="text" value="@Model.BillUsers.AccountNo" />
                         </div>

                         <div class="form-group">
                             <label class="control-label">Bill Amount</label>
                             <input type="number" name="billAmount" value="@Model.BillAmount" class="form-control" />

                         </div>

                         @Html.HiddenFor(u => u.Id, new { id = Model.BillUsers.Id});

                         <div class="form-group">
                             <input type="submit" value="Pay" class="btn btn-primary" />
                         </div>
                     </form>
                 </div>
                    

            </td>
        </tr>
    </table>
</div>
<div>
   
    <a asp-action="Dashboard">Back to Dashboard</a>
</div>
