@model IEnumerable<CDBBank.Models.Transaction>

@{
    ViewData["Title"] = "TransactionIndex";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<h1>TransactionIndex</h1>


<div class="row">
    <div class="col-md-4">

        <form asp-action="FilterTransactions">
            <table>
                <tr>
                    <td>
                        <input class="form-control" type="date" name="fromDate" />
                    </td>
                    <td>
                        <input class="form-control" type="date" name="toDate" />
                    </td>
                    <td>
                        <select class="dropdown" name="tranName">
                            <option value="select" selected>Select Transaction</option>
                            <option value="withdrawal">Withdrawal</option>
                            <option value="deposit">Deposit</option>
                        </select>
                    </td>
                    <td>
                        <div class="center">
                            <input class="btn btn-primary" type="submit" value="Apply" />
                        </div>
                    </td>
                </tr>
            </table>


        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Narration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Withdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingBalance)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Narration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Withdrawal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @{
                        int bal = Convert.ToInt32(item.ClosingBalance);
                    }
                    @bal₹
                </td>


            </tr>
        }
    </tbody>
</table>


